.fight {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.unicorn, .lion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  margin: 0.3em;
}

.center {
  margin: 0 auto;
}